<h4 class="card-title text-center mb-4"><%= t("passwords.edit.title") %></h4>

<%= form_with url: password_path(params[:token]), method: :put do |form| %>
  <div class="mb-3">
    <%= form.label :password, t("passwords.edit.new_password"), class: "form-label" %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", class: "form-control", placeholder: t("passwords.edit.new_password_placeholder"), maxlength: 72 %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, t("passwords.edit.password_confirmation"), class: "form-label" %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control", placeholder: t("passwords.edit.password_confirmation_placeholder"), maxlength: 72 %>
  </div>

  <div class="d-grid mb-3">
    <%= form.submit t("passwords.edit.submit"), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="text-center">
  <p class="mb-0"><%= link_to t("passwords.edit.back_to_login"), new_session_path %></p>
</div>
